@charset "UTF-8";
body, header, footer, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; }

img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  height: 833px; }

svg {
  fill: #333;
  stroke-width: 1;
  stroke: orange; }
  svg .head-light * {
    fill: white; }
  svg .number-plate {
    fill: #a82424; }
  svg .coupler .frame {
    fill: #c20a0a; }
  svg .coupler .fog-lamp {
    fill: white; }
  svg .coupler .buffer {
    fill: #cc6633; }
